/* Padding, Border sind dadurch in der gesamten Höhe und Breite des Elementen miteinbegriffen. Hier wurde es für alle Elemente Übernommen */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
/* Handys*/
/* Die breite der Elemente ist in Collums eingeteilt */
[class*="col-"] {
  width: 100%;
}
/*Tablets*/
@media only screen and (min-width: 600px) {
  .col-s-0 {width: 4.165%;}
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
/*Computer*/
@media only screen and (min-width: 768px) {
  .col-0 {width: 4.165%;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

nav, .Main-Content, .Main-Header, .Main-Footer {
  width: 83.33%;
  float: right;
}
header h1 {
  text-align: center;
  padding: 2em 4em;
  font-size: 2em;
  color: black;
}

/*Navigation korrigieren*/
/*nav, nav iframe {
  max-height: 65.95px;
}

nav {
  z-index: 1;
}

nav iframe {
  overflow: hidden;
  width: 100%;
  border: none;
}*/
nav {
  z-index: 1;
  /* float: right; */
  /* width: 83.33%; */
}

nav ul {
  list-style-type: none;    
  overflow: hidden;
  background-color: rgb(111, 99, 121);
}

nav ul {
  padding: 0;
}

nav li {
  float: right;
}

nav a {
  padding: 0.5em 0;
  font-size: 1em;
  display: block;
  color:white;
  text-align: center;
  text-decoration: none;
}

nav a:hover{
    background-color: #111;
  }
  
nav .active {
  color: white;
  background-color: rgb(47, 255, 64, 0.7);
}

main {
  width:100%;
}
  
  /* Damit der Container dem Bild angeglichen wird*/
  .clearfix {
    overflow: auto;
  }
  
  .Side-Navigation {
    height: 100%;
    width: 16.66%;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    background-color: rgb(71, 71, 71);
    overflow: hidden;
    padding-top: 20px;
  }

  .Side-Navigation ul {
    list-style-type: none;
    padding:0;
  }

  .Side-Navigation h1 {
    border-bottom: 2px solid gray;
    padding-bottom: 0.5em;
  }

  .Side-Navigation h2 {
    padding: 0.5em 0;
    border-bottom: 2px dotted gray;
  }
  
  .Side-Navigation a{
    padding:1em 0.5em;
    text-decoration: none;
    font-size: medium;
    display: block;
  }
  
  .Side-Navigation h1, a, h2 {
    color: #818181;
    text-align: center;
  }

  .Side-Navigation li:hover {
    background-color: rgb(53, 52, 52);
    color: white;
  }

.Main-Content {
  margin: 0;
  position: relative;
  /* float: right; */
}
article {
  padding: 1em;
  /* border: 2px solid blueviolet; */
  margin-bottom: 1.5em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

article h1 {
  background-color: hsl(180, 25%, 25%, 80%);
  color: white;
  padding: 0.5em;
  margin-bottom: 10px;
}

article h2 {
  background-color: rgba(47, 79, 79, 0.575);
  color: white;
  padding: 0.5em;
  margin-bottom: 10px;
}

article p {
  display: block;
  /* border: 2px solid black; */
  padding: 0 5em;
  text-align: justify;
  margin: 1em 0;
}

article .image-background {
  background-color: dimgray;
  width: fit-content;
  margin: auto;
  display: block;
  border: 2px solid gray;
  border-radius: 20px;
}

article .image-background img {
  padding: 1em;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

article img {
  max-width: 100%;
  margin: 5px auto;
  display: block;
}

article p img {
  clear: none;
  float: left;
  width: 100px;
  margin:0 1em 0 0;
  border: 1px solid dimgray;
  border-style: groove;
}

q {
  display: block;
  padding: 0.5em;
  font-family: 'Lobster', cursive;
  clear: both;
}

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 5px 10px;
}

.info {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
}

.warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

footer{
  background-color: slategrey;
  padding: 5em;
  font-size: 0.5em;
}

header, footer {
  color: white;
  clear: both;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media only screen and (max-width: 700px){
    /* .modal-content {
        width: 100%;
    } */
}

@media only screen and (min-width: 424px) {
  /**/

}

@media only screen and (min-width:768px) {
  /**/
}

@media only screen and (min-width:1024px) {
  /**/
  nav {top:0; position: -webkit-sticky; position: sticky;}
  nav li a {padding: 1em; font-size: 1.3em;}
  nav li {width: auto;}
}

/* Zeitleiste */
/* Für die Geschichtlichen Aspekte habe ich vor eine Zeitleiste zu machen, die die wesentlichen Ereignisse Kurz zusammenfasst */

/* Die eigentliche Zeitleiste */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container der den Kontent umschließt */
.container-timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* Die kreise auf der Zeitleiste */
.container-timeline::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* setzt einen Container nach links */
.left {
  left: 0;
}

/* Verlegt den Container nach rechts */
.right {
  left: 50%;
}

/* Versehen Container mit Pfeilen*/
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Korrigiert die Kreise auf der Rechten Seite */
.right::after {
  left: -16px;
}

/* Kontent der Zeitleiste */
.timeline-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container-timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Stellt sicher, dass alle Pfeile nach links zeigen */
  .container-timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Alle Kreise stehen in einer Geraden linie */
  .left::after, .right::after {
    left: 15px;
  }

/* Lässt die Rechten Container sich genauso wie die linken Verhalten  */
  .right {
    left: 0%;
  }
}

/* Collapsible */
/* Verleiht den Button den man Verwendet um die Liste aufzuklappen ein Design */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* setzt Hintergrund farbe des Button falls sich die Maus über ihm befindet */
.active-collapsible, .collapsible:hover {
  background-color: #ccc;
}

/* Verleiht dem Kontent ein Design */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible::after {
    content: '\02795'; /* Unicode für "plus" Zeichen (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active-collapsible::after {
    content: "\2796"; /* Unicode for "minus" zeichen (-) */
}