/* Padding, Border sind dadurch in der gesamten Höhe und Breite des Elementen miteinbegriffen. Hier wurde es für alle Elemente Übernommen */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
/* Handys*/
[class*="col-"] {
  width: 100%;
}
/*Tablets*/
@media only screen and (min-width: 600px) {
  .col-s-0 {width: 4.165%;}
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
/*Computer*/
@media only screen and (min-width: 768px) {
  .col-0 {width: 4.165%;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

nav, .Main-Content, .Main-Header, .Main-Footer {
  width: 83.33%;
  float: right;
}
header h1 {
  text-align: center;
  padding: 2em 4em;
  font-size: 2em;
  color: black;
}

/*Navigation korrigieren*/
/*nav, nav iframe {
  max-height: 65.95px;
}

nav {
  z-index: 1;
}

nav iframe {
  overflow: hidden;
  width: 100%;
  border: none;
}*/
nav {
  z-index: 1;
  /* float: right; */
  /* width: 83.33%; */
}

nav ul {
  list-style-type: none;    
  overflow: hidden;
  background-color: rgb(111, 99, 121);
}

nav ul {
  padding: 0;
}

nav li {
  float: right;
}

nav a {
  padding: 0.5em 0;
  font-size: 1em;
  display: block;
  color:white;
  text-align: center;
  text-decoration: none;
}

nav a:hover{
    background-color: #111;
  }
  
  .active {
    color: white;
    background-color: rgb(47, 255, 64, 0.7);
  }
  
  /* Damit der Container dem Bild angeglichen wird*/
  .clearfix {
    overflow: auto;
  }
  
  .Side-Navigation {
    height: 100%;
    width: 16.66%;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    background-color: #111;
    overflow: hidden;
    padding-top: 20px;
  }
  
  .Side-Navigation a{
    padding:1em 0.5em;
    text-decoration: none;
    font-size: medium;
    color: #818181;
    display: block;
  }

  .Side-Navigation a:hover {
    color: #f1f1f1;
  }

.Main-Content {
  margin: 0;
  position: relative;
  /* float: right; */
}
article p {
  padding: 0 5em;
  text-align: justify;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

footer{
  background-color: slategrey;
  padding: 5em;
  font-size: 0.5em;
}

header, footer {
  color: white;
  clear: both;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media only screen and (max-width: 700px){
    /* .modal-content {
        width: 100%;
    } */
}

@media only screen and (min-width: 424px) {
  /**/

}

@media only screen and (min-width:768px) {
  /**/
}

@media only screen and (min-width:1024px) {
  /**/
  nav {top:0; position: -webkit-sticky; position: sticky;}
  nav li a {padding: 1em; font-size: 1.3em;}
  nav li {width: auto;}
}
